{% extends "base.html" %}
{% block content %}

<html>

<head>
    <title>Chicago Crime Data Analysis</title>
    <style>
        a{
            color: black;
        }
     
        h1{
            padding: 20px 600px;
            font-size: 50px;
        }
    </style>
</head>

<body style="background-image:url('/static/chicago.jpg'); background-size: 100% 165%;">
    <h1> Chicago Crime Data Analysis</h1>
    <div id="browse_app" style="padding: 100px 100px;">
        <a class="btn btn-lg btn-primary" href="/tableau">Tableau</a>
    </div>
    <div id="browse_app2" style="padding: 0px 150px 50px 100px;">
        <a class="btn btn-lg btn-primary" href="/">Predictions</a>
    </div>
    <div id="browse_app3" style="padding: 50px 100px 50px 100px;">
        <a class="btn btn-lg btn-primary" href="/vis">Visualizations</a>
    </div>
</body>

</html>
{% endblock %}