{% extends "base.html" %}
{% block content %}

<html>

<head>
    <title>Chicago Crime Data Analysis</title>
    <style>
        body {
            background-color:lavender;
        }
        h1{
            padding: 20px 600px;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <h1> Chicago Crime Data Analysis</h1>
    <div id="browse_app" style="padding: 100px 100px;">
        <a class="btn btn-large btn-info" href="/tableau">Tableau</a>
    </div>
    <div id="browse_app2" style="padding: 0px 150px 50px 100px;">
        <a class="btn btn-large btn-info" href="/">Predictions</a>
    </div>
    <div id="browse_app3" style="padding: 50px 100px 50px 100px;">
        <a class="btn btn-large btn-info" href="/vis">Visualizations</a>
    </div>
</body>

</html>
{% endblock %}